

.clearfix {
  clear: both;
}

body {
  width: 901px;
  margin: 0 auto;
}

/* ************************Header */

header {
  width: 901px;
  margin: 30px auto;
  margin-bottom: 0;
  height: 75px;
  position: relative;
  
}

header li {
  display: inline-block;
}

.header-h1 {
  position: relative;
  font-family: cursive;
  font-size: 40px;
  bottom: 3px;
  font-weight: bolder;
}

.header-h5 {
  position: relative;
  color: rgb(184, 177, 177);
  font-size: 12px;
  bottom: 5px;
  font-stretch: extra-expanded;
}

.header-ul {
  position: absolute;
  right: 0px;
  bottom: 35px;
}

li>img {
  margin-right: -3px;
}

.pin {
  margin-right: 8px;
}

.headimg {
  float: left;
  margin-right: 10px;

}

.wrap {
  border: 5px none blue;
  color: rgb(184, 177, 177);
  margin-bottom: 60px;
}


/* ********************** Section */


.section1 {
  width: 901px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.section1 h1 {
  font-size: 40px;
  font-family: 'zantrokeregular', serif;
  font-weight: bolder
  
}

section h3 {
  font-size: 12px;
  color: rgb(184, 177, 177);
  margin-bottom: 30px;
}

section div {
  float: right;
  
}

div img {
  position: absolute;
  
  bottom: 637px;
  right: 28px;
}

div h3 {
  margin-bottom: 0px;
  position: absolute;
  bottom: 637px;
  right: 0px;
  font-size: 12px;
}


/* *************************Main */

.div2 {
  position: absolute;
  left: 96px;
  bottom: 80px;
  z-index: 100;
  font-size: 24px;
  color: rgb(160, 72, 72);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div2 li {
  margin-bottom: 7px;
}

.div3 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  font-size: 24px;
  bottom: 56px;
  right: 40px;
  color: rgb(160, 72, 72);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div3 li {
  margin-bottom: 7px;
}

.main1 {
  position: relative;
  width: 901px;
  margin: 0 auto;
  margin-bottom: 50px;
}


main p {
  text-indent: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  color: rgb(139, 130, 130);
  line-height: 25px;
}

main img {
  position: relative;
}

.wrap2 {
  margin-bottom: 20px;
  color: rgb(184, 177, 177);
}


/* ***********************Section */

.section2 img {
  float: left;
  margin-right: 15px;
}

.section2 {
  margin-bottom: 105px;
  position: relative;
}


/* ***********************Footer */

footer img {
  position: absolute;
  right: 429px;
  bottom: 60px;
  padding: 0px 6px;
  background-color: white;
}

footer {
  margin-bottom: 100px;
  position: relative;
}

footer hr {
  border: .25px solid rgb(205, 205, 214); 
  margin-bottom: 35px;
}

.name {
  margin-bottom: 15px;
  font-size: 25px;
  color: rgb(57, 88, 92);
}

.under-name {
  
  font-size: 18px;
  color: rgb(139, 130, 130);
}

button:hover{
  background-color: gray;
  color: black;
}
  
button {
  background-color: rgb(119, 76, 76);
  color: white;
  transition-duration: 350ms;
  font-size: 20px;
  border-radius: 6px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  right: 0px;
  bottom: 5px;
}

footer p {
  margin-bottom: 10px;
  color: rgb(139, 130, 130); 
  text-align: center;
}

